.AnimalColumn {
  width: 20%;
  text-align: center;
  box-sizing: border-box;
  border: solid gray;
  border-width: 3px;
  /* margin: 10px; */
  background-color: cadetblue;
  float: left;
}

.AnimalColumn img {
  margin:auto;
  width: 50%;
  height:auto;
  display: block;
}

.FancyLetter {
  font-family: Edwardian Script;
  font-size: 150%;
  /* font-style: italic; */
  font-weight: bolder;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}